@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}



html, body, #root {
    height: 100%;
}

body {
    background:rgb(248, 245, 245) !important;
    -webkit-font-smoothing : antialiased;
}

body, input, button, a{
    font-family: Montserrat, sans-serif;
    color: white !important;
    font-size: 18px !important ;
}


.nav-link{
    padding-left: 1em !important;
}

.nav-link:hover {
    color: #63d32f !important;
    transition: all 0.5s ease !important;
}



